/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
 /* z-index: 30;*/ /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.time-setting{
  color: #7d7d7d;font-size: 15px;
  font-weight: bold;
  padding-left: 5px;
}
.close {
  /*color: white;*/
  float: right;
  /*font-size: 28px;*/
  font-weight: bold;
  font-size: 15px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding-left: inherit!important;
  padding: 2px 16px;
  /*background-color: #5cb85c;*/
  color: white;
  display: block;
}

.modal-body {
  min-height: 150px;
  max-height: 400px;
  overflow: auto;
  padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
 /* background-color: #5cb85c;*/
  color: white;
}
.classynav ul li a {
  color: #7d7d7d;
}
.classynav ul li a:active{
  color: #947054;
}
.classynav ul li a:focus{
  color: #947054;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
